

#page-landing {
    background: linear-gradient(329.54deg, #29B6B1 0%, #00C7C7 100%);
    text-align: center;
    min-height: 100vh;

    display: flex;
}

#container {
    margin: auto;
    width: min(90%, 112rem);
}

.location, h1, .visit p {
    height: 16vh;
}

.visit a {
    width:  7rem;
    height: 7rem;
    background-color: #FFD666;
    border: none;
    border-radius: 2rem;
    
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;

    transition: background 200ms;
    animation-delay:250ms;
}

.visit a:hover{
    background: #96FEFF;
}

/*animações aplicadas*/

#logo {
    animation-delay:50ms;
}

.location {
    animation-delay:100ms;
}

main h1 {
    animation-delay:150ms;
}

.visit p {
    animation-delay:200ms;
}

/* desktop version */
@media (min-width: 760px) {
    
    #container {
        /* shorthand background: image repeat position / size */
        background: url("../images/bg.svg") no-repeat 80% / clamp(30rem, 48vw, 50rem);
    }

    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .location, h1, .visit p {
        height: initial;
        text-align: initial;
    }

    .location{
        text-align: right;
        font-size: 2.4rem;
        line-height: 1.5;
    }

    main h1{
        font-size: clamp(4rem, 8vw, 8.4rem);
        font-weight: bold;
        line-height: .88;
        width: min(80%, 300px);
        margin: clamp(10%, 9vw, 12%) 0 4rem;
    }
    
    .visit {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .visit p{
        font-size: 2.4rem;
        line-height: 1.5;
        width: clamp(20rem, 20vw, 30rem);
    }

    .visit a {
        margin: initial;
    }
}
